.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hides scrollbar in IE, Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}
